SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

AMADEUS_BASE_URL=https://test.api.amadeus.com
AMADEUS_AUTH_URL=https://test.api.amadeus.com/v1/security/oauth2/token
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_BASE_URL=https://maps.googleapis.com
GOOGLE_ROUTES_BASE_URL=https://routes.googleapis.com
GOOGLE_PLACES_BASE_URL=https://places.googleapis.com